@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Your account has not been confirmed yet.</h2>
<h2 class="text-danger">Check your email and try again.</h2>