<div>
    <ul class="bxslider" data-call="bxslider" data-options="slideMargin:5, autoReload:true">
        @foreach (var image in Model)
        {
            <li><img src="@Url.Content(image.ImagePath)" /></li>
        }
    </ul>
</div>
<script>
    $(document).ready(function () {
        $('#slider').bxSlider();
        $('.bx-wrapper').width('auto');
    });
</script>