@model IEnumerable<ConcremoteDeviceManagment.Models.DeviceConfig>

@{
    ViewBag.Title = "Home Page";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p> 
        Select device : @Html.DropDownList("SelectedDevice", (List<SelectListItem>)ViewBag.SelectedDevice, " --Device--")
    </p>
    @*@Html.Action("PartialView", "Home")*@

}

@*@Html.ActionLink("Refresh",)*@
