@model IEnumerable<ConcremoteDeviceManagment.Models.DeviceConfig>

@{
    ViewBag.Title = "Change DeviceConfig";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<h2>Index</h2>
<p>
</p>

@using (Html.BeginForm("GetDevice", "Home", FormMethod.Get))
{
    <fieldset>
        <legend>Device Configs</legend>
        <div>

            @Html.DropDownList("SelectedDevice", "select")
            @*@Html.DropDownList("ProjectBranch", ViewBag.ProjectBranch as SelectList, new { @class = "form-data" })*@
            <button onclick="location.href='@Url.Action("Create", "Home")';return false;" class="btn btn-primary">Create New</button>
        </div>
        <br />
        <div id="target">

        </div>
        <div id="log">

        </div>
    </fieldset>


}
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#SelectedDevice").change(function (e) {
                var DeviceType = { "Device": $(this).val() };
            $.ajax({
                type: 'get',
                url: '@Url.Action("GetDevice")',
                contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                data: { "Device": $(this).val() },
                success: function (result) {

                    $("#target").html(result);
                },
                error: function (ex) {
                    alert("Something is wrong");
                }
            });

        });

    });
    </script>
}

