<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <add name="BasDbContext" connectionString="Data Source=MSSQL02\PO3; Initial Catalog=CDM; User ID=cdm; Password=rdVT1aZLkAKQEu2cU8V6; Persist Security Info=False; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="PO3DbContext" connectionString="Data Source=MSSQL02\PO3;Initial Catalog=PO3;User ID=cdm; Password=rdVT1aZLkAKQEu2cU8V6; Persist Security Info=True;  MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ida:ClientId" value="cdab1aee-7da3-464c-b158-c6959931e60a" />
    <add key="ida:AADInstance" value="http://login.concremote.eu/" />
    <add key="ida:Domain" value="http://login.concremote.eu/" />
    <add key="ida:TenantId" value="c7265751-0619-49a3-8f79-77c8097448d8" />
    <add key="ida:PostLogoutRedirectUri" value="http://login.concremote.eu/" />
  <!-- - - - - - - - - - - - - - - - - - - - - -->
    <!-- BEGIN: Custom appsettings used by Covadis code -->
    <!-- To override values for local use, just add the same key into the local appsettings config. -->
    <!-- BEGIN: Website styling -->
    <add key="TextBoxMaxLength" value="100" />
    <add key="TextAreaMaxLength" value="200" />
    <add key="ListPageSize" value="10" />
    <!-- Configures page size of listviews. -->
    <add key="MeasurementTablePageSize" value="100" />
    <!-- Configures page size of big listviews. -->
    <add key="MaxOrganizationDropdownItems" value="25" />
    <add key="MaxSelect2DropDownItems" value="25" />
    <!-- Configures the amount of records in the metals dashboard. -->
    <add key="MetalsDashboardMaxRowCount" value="6" />
    <!-- Maximum amount of organizations to show in the organization dropdown. -->
    <!-- END: Website styling-->
    <!-- BEGIN: FileManager configuration -->
    <add key="FileManagerPath" value="C:\FileManager" />
    <add key="FileManagerEncryptionKey" value="BCD40D841B35964BFEA1210F5F33FE367EA352E991F9AB7B3BEAC8DE3CF30D65" />
    <!-- END: FileManager configuration -->
    <!-- BEGIN: Old system redirect settings -->
    <add key="PO2RedirectUrls" value="login.concremote.com ; http://login.concremote.eu/ , login.doka.concremote.com ; http://login.doka.concremote.eu/" />
    <add key="DefaultPO2RedirectUrl" value="http://login.basrt.nl/" />
    <add key="OldBASTokenDuration" value="5" />
    <!-- The duration in minutes for the login token to be valid on the old BAS environment -->
    <!-- END: Old system redirect settings -->
    <!-- BEGIN: Database view settings -->
    <add key="OldBASDatabaseName" value="Prins" />
    <!-- END: Database view settings -->
    <add key="OldSystemReportsPath" value="%BASEDIR%\OldSystemReports" />
    <!-- Path to the location of the old system report files. %BASEDIR% is the base directory of the project (BAS.Web) -->
    <add key="GoogleMapsApiKey" value="AIzaSyDYFFI4JMJFoXQ3ENUkrvnUcKAXODdZP2g" />
    <add key="PersistenceLayerType" value="BAS.DAL.PersistenceLayer.DatabasePersistence" />
    <!-- Dependency injection which is used in places that needs a language manager. -->
    <add key="DokaHostName" value="login.doka.concremote.com" />
    <!-- Used to determine whether the application is navigated via the Doka url. -->
    <add key="InitializerPath" value="bin\\" />
    <!-- Used to determine what the path to the BAS.DAL.Initializers directory is in the application -->
    <!-- BEGIN: Highcharts settings -->
    <add key="HighchartsExportServer" value="http://localhost:7801/" />
    <add key="HighchartsPlotbandColorWebsite" value="#48E23D" />
    <add key="HighchartsPlotbandColorPdf" value="#B6F4B2" />
    <!-- END: Highcharts settings -->
    <!-- BEGIN: Mail service settings -->
    <add key="MailService_Host" value="exchangesrv" />
    <add key="MailService_Username" value="alarm@concremote.com" />
    <add key="MailService_Password" value="" />
    <!-- END: Mail service settings -->
    <!-- BEGIN: Report background settings -->
    <add key="BASReportBackgroundPath" value="Backgrounds\\BASReportBackground.pdf" />
    <add key="BASReportFirstPageBackgroundPath" value="Backgrounds\\BASReportFirstPageBackground.pdf" />
    <!-- END: Report background settings -->
    <!-- BEGIN: Website settings -->
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
    <!-- END: Website settings -->
    <!-- BEGIN: Build number settings -->
    <add key="BuildNumber_Build" value="#{BuildNumber_Build}#" />
    <add key="BuildType" value="" />
    <add key="PatchNumber" value="0" />
    <!-- END: Build number settings -->
    <!-- - - - - - - - - - - - - - - - - - - - - -->
    <!-- END: Custom appsettings used by Covadis code -->
  </appSettings>
  <system.web>
    <customErrors mode="Off">
      <!--<error redirect="~/Error/500" statusCode="500" />
      <error redirect="~/Error/404" statusCode="404" />
      <error redirect="~/Error/401" statusCode="401" />-->
    </customErrors>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <pages validateRequest="true" />
    <!--<authentication mode="Windows" />
    <authorization>
      <allow users="?" />
    </authorization>-->
    <!--<httpRuntime maxQueryStringLength="2097151" maxUrlLength="2097151"/>-->
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.codedom>
    <compilers>
      <!--<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
        <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />-->
    </compilers>
  </system.codedom>
  <!--<modules>
      <remove name="ApplicationInsightsWebTracking" />
      -->
  <!--<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />-->
  <!--
    </modules>-->
</configuration>
<!--ProjectGuid: 443E0BCF-430A-4180-B6B3-397D58900192-->