@model ConcremoteDeviceManagment.Models.DeviceStatus


<table class="table table-hover">
    <tr>
        <th class="table-row">
            @Html.DisplayName("BAS artikelnummer")
        </th>
        <th class="table-row">
            @Html.DisplayName("Beschrijving")
        </th>
        <th class="table-row">
            @Html.DisplayName("Aantal")
        </th>
        <th class="table-row">
            @Html.DisplayName("Bouw Volgorde")
        </th>
        <th class="table-row"></th>
    </tr>

    @*@foreach (var item in Model) {*@
    @{
        int i = 1;
        while (i < 20)
        {
            <tr>
                <td>
                    CMI100
                </td>
                <td>
                    Test onderdeel
                </td>
                <td>
                   2
                </td>
                <td>
                    -
                </td>
            </tr>
            i++;
        }
    }

    @*}*@

</table>

