@model ConcremoteDeviceManagment.Models.DeviceConfig

@{
    ViewBag.Title = "DeviceSteps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeviceSteps</h2>

<div>
    <h4>DeviceSteps</h4>
    <hr />

    Device: @ViewBag.value2 <br />
    Amount: @ViewBag.value1 <br />
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>