@model ConcremoteDeviceManagment.Models.DeviceConfig

@{
    ViewBag.Title = "DeviceParts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>DeviceSteps</h4>
    <hr />

    Device: @ViewBag.value2 <br />
    Amount: @ViewBag.value1 <br />

    <fieldset>
        <div id="target">
        </div>
        <div id="log">
        </div>
    </fieldset>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
