@model ConcremoteDeviceManagment.Models.DeviceConfig

@{
    ViewBag.Title = "DeviceSteps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeviceSteps</h2>

<div>
    <h4>DeviceConfig</h4>
    <hr />

    @ViewBag.value1



</div>
<p>
   @* @Html.ActionLink("Edit", "Edit", new { id = Model.Device_config_id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>


