@model IEnumerable<ConcremoteDeviceManagment.Models.DeviceConfig>


@{
    ViewBag.Title = "Create Device";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Device</h2>
@using (Html.BeginForm("GetDevice", "Home", FormMethod.Get))
{
    <fieldset>
        <legend>Device Create</legend>
        <div>
            @Html.DropDownList("SelectedDevice", "Select a device")
        </div>
        <br />
        <div id="target">

        </div>
        <div id="log">

        </div>
    </fieldset>


}
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#SelectedDevice").change(function (e) {
                var DeviceType = { "Device": $(this).val() };
            $.ajax({
                type: 'get',
                url: '@Url.Action("CreateDevice")',
                contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                data: { "Device": $(this).val() },
                success: function (result) {

                    $("#target").html(result);
                },
                error: function (ex) {
                    alert("Something is wrong");
                }
            });

        });

    });
    </script>
}

