body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.field-validation-error{
    color: #e80c4d;
    font-weight: bold;
}
input.input-validation-error{
    border: 1px solid #e80c4d;
}

/*  This once was CSS I wrote to make a Loading Spinner while the page was loading...*/
/*  But it only works when the page is already loaded... so yeah! I hate coding*/
/*  Also this code does not do anything anymore, untill you Ctrl+K -> Ctrl+U the code in _Layout.cshtml*/
.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}

